In [1]:
import pandas as pd
import numpy

In [21]:
year = 14
season = pd.read_csv("/Users/dmolins/Desktop/david/uni/TFG/Europe/Euroleague_20{}.csv".format(year), sep = '|')

In [22]:
#creates dataframe with the info for all the players
all_players = season[['PLAYER', 'CODETEAM']].drop_duplicates(subset = ['PLAYER']).drop([0])
                #subdataframe                                                   #deletes first row (NaN)
zeros = numpy.zeros(len(all_players), dtype=int)
all_players = all_players.assign(Season = numpy.full(len(all_players), year, dtype=int), T2A_j = zeros, T2A_e = zeros,
                                 T3A_j = zeros, T3A_e = zeros, TLA_j = zeros, TLA_e = zeros, DREB_j = zeros, 
                                 DREB_t = zeros, OREB_j = zeros, OREB_t = zeros, TO_j = zeros, TO_e = zeros)
#j=jugador, e=equipo, t=total

#iterates over all the games of the season
for num_game in range(max(season.Game)+1): #DESCOMENTAR LUEGO

    game = season.loc[season.Game == num_game] #QUITAR LUEGO

    df = game[['PLAYER', 'CODETEAM', 'PLAYTYPE']]
    player_team_inout = df[(df.PLAYTYPE == 'IN') | (df.PLAYTYPE == 'OUT')]

    pOn_court = search_starters(player_team_inout) 

    for index, row in game.iterrows():
        if row.PLAYTYPE in ('2FGA', '2FGM', '3FGA', '3FGM', 'FTA', 'FTM', 'TO'):
            all_players = sums_shots_n_TO(all_players, row, pOn_court)

        elif row.PLAYTYPE == 'D':
            all_players.loc[all_players['PLAYER'] == row.PLAYER, 'DREB_j'] = all_players.loc[all_players['PLAYER'] == row.PLAYER, 'DREB_j'] + 1
            #sums also to each player team stat
            for index2, row2 in pOn_court.iterrows():
                if row.CODETEAM == row2.CODETEAM:
                    all_players.loc[all_players['PLAYER'] == row2.PLAYER, 'DREB_t'] = all_players.loc[all_players['PLAYER'] == row2.PLAYER, 'DREB_t'] + 1
                else:
                    all_players.loc[all_players['PLAYER'] == row2.PLAYER, 'OREB_t'] = all_players.loc[all_players['PLAYER'] == row2.PLAYER, 'OREB_t'] + 1

        elif row.PLAYTYPE == 'O':
            all_players.loc[all_players['PLAYER'] == row.PLAYER, 'OREB_j'] = all_players.loc[all_players['PLAYER'] == row.PLAYER, 'OREB_j'] + 1
            #sums also to each player team stat
            for index2, row2 in pOn_court.iterrows():
                if row.CODETEAM == row2.CODETEAM:
                    all_players.loc[all_players['PLAYER'] == row2.PLAYER, 'OREB_t'] = all_players.loc[all_players['PLAYER'] == row2.PLAYER, 'OREB_t'] + 1
                else:
                    all_players.loc[all_players['PLAYER'] == row2.PLAYER, 'DREB_t'] = all_players.loc[all_players['PLAYER'] == row2.PLAYER, 'DREB_t'] + 1

        elif row.PLAYTYPE == 'OUT':
            # Get name of indexe for the player who gets off the court
            indexNames = pOn_court[ pOn_court['PLAYER'] == row.PLAYER ].index
            # Delete these row indexes from dataFrame
            pOn_court.drop(indexNames , inplace=True)

        elif row.PLAYTYPE == 'IN':
            new_row = {'PLAYER': row.PLAYER, 'CODETEAM': row.CODETEAM}
            #append row to the dataframe
            pOn_court = pOn_court.append(new_row, ignore_index=True)
            
all_players.to_csv('/Users/dmolins/Desktop/david/uni/TFG/pbp-stats/Euroleague_pbp_{}.csv'.format(year+1), 
          sep=';', index = False)

In [9]:
all_players

,PLAYER,CODETEAM,Season,T2A_j,T2A_e,T3A_j,T3A_e,TLA_j,TLA_e,DREB_j,DREB_t,OREB_j,OREB_t,TO_j,TO_e
1,"BOOKER, DEVIN",KHI,19,173,527,37,451,67,257,85,508,50,515,40,215
2,"BLACK, TARIK",TEL,19,55,202,0,127,46,106,33,207,20,175,23,77
4,"BRYANT, ELIJAH",TEL,19,101,483,84,360,13,231,63,462,14,461,34,178
5,"TIMMA, JANIS",KHI,19,63,515,160,470,22,237,48,532,17,522,41,211
7,"SHVED, ALEXEY",KHI,19,186,687,252,595,148,350,63,686,6,678,102,264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119626,"MCKISSIC, SHAQUIELLE",OLY,19,23,80,11,36,5,33,6,68,0,58,7,35
119670,"BUYCKS, DWIGHT",OLY,19,8,44,2,15,1,20,4,35,0,31,6,18
120227,"LUCAS, KALIN",RED,19,5,31,3,21,0,16,1,27,0,29,2,17
120653,"BERRY, DAVION",ASV,19,1,43,10,32,0,17,2,31,0,36,3,17
125393,"YABUSELE, GUERSCHON",ASV,19,4,39,10,29,0,11,6,33,1,37,5,13

In [3]:
def search_starters(player_team_inout):
    player_team_inout = player_team_inout.drop_duplicates(subset=['PLAYER']) #remove duplicates
    pOn_court = (player_team_inout[player_team_inout.PLAYTYPE=='OUT'])[['PLAYER', 'CODETEAM']]

    return pOn_court

In [4]:
def sums_shots_n_TO(all_players, row, pOn_court):
    if row.PLAYTYPE == '2FGA' or row.PLAYTYPE == '2FGM':
        pTYPE = 'T2A'
    elif row.PLAYTYPE == '3FGA' or row.PLAYTYPE == '3FGM':
        pTYPE = 'T3A'
    elif row.PLAYTYPE == 'FTA' or row.PLAYTYPE == 'FTM':
        pTYPE = 'TLA'
    elif row.PLAYTYPE == 'TO':
        pTYPE = 'TO'
        
    all_players.loc[all_players['PLAYER'] == row.PLAYER, '{}_j'.format(pTYPE)] = all_players.loc[all_players['PLAYER'] == row.PLAYER, '{}_j'.format(pTYPE)] + 1
    #sums also to each player team stat
    for index2, row2 in pOn_court.iterrows():
        if row.CODETEAM == row2.CODETEAM:
            all_players.loc[all_players['PLAYER'] == row2.PLAYER, '{}_e'.format(pTYPE)] = all_players.loc[all_players['PLAYER'] == row2.PLAYER, '{}_e'.format(pTYPE)] + 1
    
    return all_players